.team {
  background-color: #ffffff;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.team-list {
}
.team-list-item {
}
.team-list-image {
}
.team-list-name {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2
  text-align: center;
  color: #2e2f42;
}
.team-list-text {
  text-align: center;
  color: #434455;
}
